*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navegacao{
    height: 60px;
    margin: 0px 185px;
}
#topo{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(152, 123, 93);
    color: white;
}
#topo > img{
    height: 50px;
    display: flex;
    /* margin: auto; */
}
#menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: wheat;
}
.menu-list{
    list-style: none;
    display: flex;    
    
}
.menu-list > li{
    padding: 5px 10px;
    font-weight: 500;
    color: brown;
}
#central{
    background-color: rgb(152, 123, 93);
    border-radius: 30px;
}
#conteudo{
    background-color: white;
    border-radius: 30px;
    margin: 30px 30px;
    font-size: small;
}
#conteudo > img{
    height: 500px;
    display: flex;
    border-radius: 20px;
    margin: auto;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
#rodape{
    background-color: black;
}
#logo{
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: right;
}
#blog > h4{
    display: flex;
    justify-content: center;
}
#cinza{
    display: flex;
    background-color: rgb(240, 235, 235);
}
p{
    padding: 10px;
}